html, body, .wrapper, container-fluid{
    height: 100vh;
}

ul {
    /* margin-left: 1.5em; */
    list-style-type: none;
    padding-left: 0;
}

.full-height-fix {
    height: 0px;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

.navbar .container-fluid {
    padding-left: 0;
}

#keywords, .navigation {
    list-style-type: none;
    margin-left: 0;
}

#keywords li, .navigation li {
    display: block;
    position: relative;
    background-color: white;
    padding: 0.5em;
    padding-right: 7em;
    margin-bottom: 0.4em;
    font-size: 0.9em;
    line-height: 1.3em;
    border-radius: 3px;
}

.navigation .sign {
    padding-left: 2em;
}

#keywords li a, .navigation li a, #questions li a {
    text-decoration: none;
}

#keywords-col, #navigation, #detail{
    background-color: #F7F7F7;
}

#centrality {
    list-style-type: none;
    /* padding: 1em; */
    padding-top: 0;
    margin-left: 0; 
}

#centrality li {
    display: block;
    position: relative;
    background-color: white;
    padding: 0.4em;
    padding-right: 7em;
    margin-bottom: 0.4em;
    font-size: 0.9em;
    line-height: 1.3em;
    border-radius: 3px;
    font-weight: bold;
}

#questions ul {
    list-style-type: none;
    padding: 1em;
    padding-top: 0;
    margin-left: 0;
}

#questions li {
    display: block;
    position: relative;
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
    padding: 0.8em;
    padding-bottom: 2.3em;
    margin-bottom: 1em;
    font-size: 0.9em;
    line-height: 1.3em;
    border-radius: 3px;
}

.status-bar {
    text-align: right;
    background-color: white;
    border-radius: 0 0 3px 3px;
}

.border-right {
    border-right: 1px solid #EEEEEE;
}